<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ollivander's Shop</title>
    <br > <br >
    <div align="center"><img src="{{ url_for('static', filename='img/olivlogo.png') }}" width="400" height="176"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Proyecto Ollivanders API">
    <meta name="Alberto J. y  Miquel Calafell">
    <script src="{{ url_for('static', filename='Script.js') }}"></script>

    <title>Ollivander's Shop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="index">Ollivander's Shop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-dark" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2>Ollivander's Shop: Añadir producto</h2>
            <form class="add-item">

                <label>Producto</label>
                <input type="text" class="form-control" id="name" placeholder="Introduzca el nombre del producto"/>
                <label>Sell In</label>
                <input type="text" class="form-control" id="sell_in" placeholder="Introduzca el Sell In"/>
                <label>Quality</label>
                <input type="text" class="form-control" id="quality" placeholder="Introduzca la Quality"/>
                <br>
                <button type="button" class="btn btn-info" onclick="inventario()" id="listInventory">Inventario</button>
                <input type="submit" value="Añadir Item"/>
                <input type="reset" value="Limpiar formulario"/>
                <input type="button" value="Eliminar Item" name="delete"/>
                

            </form>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="colgroup">Name</th>
                            <th scope="colgroup">Sell In</th>
                            <th scope="colgroup">Quality</th>
                        </tr>
                    </thead>
                    <tbody id="structureTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        let formulario = document.querySelector('.add-item');
        formulario.addEventListener('submit', addItem);


        function addItem(e) {
            e.preventDefault();
            // elementos del formulario en un array-like object:
            // form.elements 
            // pag 396 libro rhin

            let data = { name: this.elements.name.value,
                         // sellin => bad request, status 400
                         // sin valor => mensaje del servidor en consola
                         // en XHR and fetch: message: {sell_in: "sellIn required"}
                         sell_in: this.elements.sell_in.value,
                         quality: this.elements.quality.value};

            fetch('http://127.0.0.1:5000/items', {
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((response) => {
                    if (response.ok) {
                        console.log("Response OK Status:", response.status);
                        console.log("Reponse OK status text:", response.statusText);
                    } else {
                        console.log("Response Status:", response.status);
                        console.log("Reponse statuts text:", response.statusText);
                    }
                })
                .catch((error) => {
                    console.log(error.message);
                });
        }

        formulario.delete.addEventListener('click', deleteItemPromise);

        function deleteItem() {
            // elementos del formulario en un array-like object:
            // form.elements 
            // pag 396 libro rhino
            logForm();

            let data = { name: formulario.elements.name.value,
                         // sellin => bad request, status 400
                         // sin valor => mensaje del servidor en consola
                         // en XHR and fetch: message: {sell_in: "sellIn required"}
                         sell_in: formulario.elements.sell_in.value,
                         quality: formulario.elements.quality.value };

            fetch('http://127.0.0.1:5000/items', {
                method: 'DELETE',
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((response) => {
                    if (response.ok) {
                        console.log("Response OK Status:", response.status);
                        console.log("Reponse OK status text:", response.statusText);
                    } else {
                        console.log("Response Status:", response.status);
                        console.log("Reponse statuts text:", response.statusText);
                    }
                })
                .catch((error) => {
                    console.log(error.message);
                });
        }

        // delete Item con promesas
        
        function deleteItemPromise() {
            // elementos del formulario en un array-like object:
            // form.elements 
            // pag 396 libro rhino
            logForm();

            let data = { name: formulario.elements.name.value,
                         // sellin => bad request, status 400
                         // sin valor => mensaje del servidor en consola
                         // en XHR and fetch: message: {sell_in: "sellIn required"}
                         sell_in: formulario.elements.sell_in.value,
                         quality: formulario.elements.quality.value };
            
            const promesa = new Promise((resolve, reject) => {
                    
                    fetch('http://127.0.0.1:5000/items', {
                        method: 'DELETE',
                        body: JSON.stringify(data), // data can be `string` or {object}!
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then((response) => {
                        if (response.ok) {
                            setTimeout(() => { resolve(response.statusText)}, 5000);
                        } else {
                            reject(response.statusText);
                        }
                    })
                });
            
            promesa.then(statusText => console.log(`"Item eliminado: ${statusText}`))
                   .then(() => inventario())
                   .catch((statusText) => {
                        console.log(`Item NO borrado: ${statusText}`);
                    });

            console.log("El código sigue sin esperar al setTimeout");              
        }

        
        function logForm() {
            // for sobre form.elements no sirve
            // porque muestra buttons tb
            let formulario = document.querySelector('.add-item');
            console.log( formulario.elements.name.value,
                         formulario.elements.sell_in.value,
                         formulario.elements.quality.value);
        }

    </script> 
    <hr>

    <footer class="container text-center">
        <p>&copy; 2020 Ollivanders.</p>
    </footer>
</body>

</html>